# Python specific ignores
__pycache__/
*.pyc
*.pyo
*.pyd
# Ignore the media directory, used for storing PDF's
media/

# Ignore vectorstore directory, used for storing vector database files
vectorstore/

# Ignore environment variables file
.env

# Ignore JavaScript dependencies and build outputs
node_modules/
dist/
build/

# Ignore IDE specific files and directories
.vscode/
.idea/

# Ignore log files
*.log

# Ignore macOS system file
.DS_Store

# Ignore alxgpt directory
alxgpt